Checks: '*,
    -clang-analyzer-alpha.*,
    -fuchsia-*,
    -hicpp-no-array-decay,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay'
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: '1'
