Language: Cpp
BasedOnStyle: LLVM
PointerAlignment: Left
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
IncludeBlocks: Merge
BinPackArguments: false
BinPackParameters: false
