Checks: '-*,
  bugprone-*, -bugprone-exception-escape, -bugprone-unhandled-exception-at-new, -bugprone-easily-swappable-parameters, -bugprone-narrowing-conversions,
  performance-*, -performance-unnecessary-value-param'
WarningsAsErrors: ''
