# --------------------------------------------------------------------------------------------------
# Special file attributes for git.
# --------------------------------------------------------------------------------------------------

# Use unix line-ending for all text files.
* text eol=lf

# Mark novus sourcefiles as being 'C' so we get some basic syntax highlighting on GitHub.
# Linguist does not support repository-local syntax highlighting (and probably never will) and adding
# support for a toy-language like Novus to Linguist seems unlikly.
*.ns linguist-language=C

# Binary files.
*.nx binary
*.jpg binary
*.png binary
*.ppm binary
*.tga binary
*.ico binary
