# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Build output.
[Bb]uild/

# Executables.
[Bb]in/
