# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# --------------------------------------------------------------------------------------------------

# Build output.
/[Bb]uild*
/[Bb]in*

# User settings (Except portable common settings).
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/tasks.json
!/.vscode/launch.json
